<div id="dvCont" class="">
    <div class="col-xs-12 headerCenter" style="border-bottom: 1px solid darkgoldenrod;">
        <div class="pull-left" style="background-color: #007196;">
            <img src="../Content/images/comp-logo.png" alt="Litigation Login" style="height: 60px;" />
        </div>
        <div class="pull-right">
            <nav>
                <a id="afDemo" class="hvr-float-shadow">
                    <img src="../Content/images/TilesImg/master.png" />
                    Master
                </a>
                <a id="aLogOut" onclick="window.location='../AspetLogIn.aspx'" class="hvr-float-shadow">
                    <img src="../Content/images/TilesImg/Logout.png" alt="Logout" />
                    Logout
                </a>
            </nav>
        </div>
    </div>
    <div id="dvIcons" class="iconsContainer">
        <div id="dvHeight" class="col-xs-12" style="overflow: auto">
            <fieldset id="fInput" class="col-xs-12" style="margin-top: 0px;">
                <legend>Input</legend>
                <!--<div class="icon__music col-xs-10 hvr-float-shadow col-md-3" ui-sref="master.dailyQuality">
                    <div data-stacking-factor="0.4" class="icon__music--glyph " style="background-image: url('../Content/images/TilesImg/worker5.png');"></div>
                    <div data-stacking-factor="0.4" class="icon__shows--text2">Demo Page</div>
                    <div data-stacking-factor="1" class="icon__music--base  tileOrange">
                        <div data-stacking-factor="5" class="glow"></div>
                    </div>
                    <div data-stacking-factor="2" class="shadow"></div>
                </div>-->
                <div class="icon__music col-xs-10 hvr-float-shadow col-md-3" ui-sref="master.schedrecordcalibration">
                    <div data-stacking-factor="0.4" class="icon__music--glyph " style="background-image: url('../Content/images/TilesImg/worker5.png');"></div>
                    <div data-stacking-factor="0.4" class="icon__shows--text2">Schedule & Record of Calibration</div>
                    <div data-stacking-factor="1" class="icon__music--base  tileSky">
                        <div data-stacking-factor="5" class="glow"></div>
                    </div>
                    <div data-stacking-factor="2" class="shadow"></div>
                </div>
                <div class="icon__music col-xs-10 hvr-float-shadow col-md-3" ui-sref="master.dailymaint">
                    <div data-stacking-factor="0.4" class="icon__music--glyph " style="background-image: url('../Content/images/TilesImg/worker5.png');"></div>
                    <div data-stacking-factor="0.4" class="icon__shows--text2">Daily Maintenance</div>
                    <div data-stacking-factor="1" class="icon__music--base  tilePurple">
                        <div data-stacking-factor="5" class="glow"></div>
                    </div>
                    <div data-stacking-factor="2" class="shadow"></div>
                </div>
                <div class="icon__music col-xs-10 hvr-float-shadow col-md-3" ui-sref="master.weeklymaint">
                    <div data-stacking-factor="0.4" class="icon__music--glyph " style="background-image: url('../Content/images/TilesImg/worker5.png');"></div>
                    <div data-stacking-factor="0.4" class="icon__shows--text2">Preventive Maintenance- Weekly</div>
                    <div data-stacking-factor="1" class="icon__music--base  tileGreen">
                        <div data-stacking-factor="5" class="glow"></div>
                    </div>
                    <div data-stacking-factor="2" class="shadow"></div>
                </div>
                <div class="icon__music col-xs-10 hvr-float-shadow col-md-3" ui-sref="master.dailypersonalhygeinereport">
                    <div data-stacking-factor="0.4" class="icon__music--glyph " style="background-image: url('../Content/images/TilesImg/worker5.png');"></div>
                    <div data-stacking-factor="0.4" class="icon__shows--text2">Daily Hygeine Report</div>
                    <div data-stacking-factor="1" class="icon__music--base  tileCrim">
                        <div data-stacking-factor="5" class="glow"></div>
                    </div>
                    <div data-stacking-factor="2" class="shadow"></div>
                </div>
                <div class="icon__music col-xs-10 hvr-float-shadow col-md-3" ui-sref="master.rodentcontrolreport">
                    <div data-stacking-factor="0.4" class="icon__music--glyph " style="background-image: url('../Content/images/TilesImg/worker5.png');"></div>
                    <div data-stacking-factor="0.4" class="icon__shows--text2">Rodent Control Log Book</div>
                    <div data-stacking-factor="1" class="icon__music--base  tileGrey">
                        <div data-stacking-factor="5" class="glow"></div>
                    </div>
                    <div data-stacking-factor="2" class="shadow"></div>
                </div>
            </fieldset>

        </div>
    </div>
</div>