
        <div class="col-md-12">
            <div class="error-template" >
                <h1>
                    Oops!</h1>
                <h2>
                    {{statusCode}}</h2>
                <div class="error-details">
                    {{statusMessage}}
                </div>
                <div class="error-actions">
                    <a href="#!/home" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                         Home </a>
                </div>
            </div>
        </div>

